/* .register__body{
    background: var(--color-bg);
} */

.register-form {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    height: 50vh;
    background-color: #c9d2f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-error {
    color: red;
    font-size: 12px;
    padding-bottom: 5px;
}

.register-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.register-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 0;
    color: #fff;
    padding: 10px 20px;
}
