.dashboard {
    justify-content: space-between;
    padding: 2rem 20rem;
    font-family: 'outfit', sans-serif;
    font-size: 20px;
    margin: auto;
    max-width: 1700px;
    color: white;
}

.dashboard-add {
    background: #9193DE;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 10px;
    margin: 0 auto;
    padding: 14px 16px;
    width: 1200px;
}

.dashboard-form {
    display: flex;
    width: 100%;
}

.dashboard-form-input {
    border-width: 0 !important;
    /* width: 57%; */
    height: 40px !important;
    flex: 1;
    background-color: transparent;
    font-size: 18px;
    outline: none;
    margin-right: 24px;
    border-radius: 5px;
    padding: 2px 8px;
    color: white;
}

.dashboard-form-submit {
    font-size: 18px;
    border-radius: 10px;
    border-width: 0;
    background-color: #4e509b;
    padding: 8px 24px;
    color: white;
}

.dashboard-content {
    display: flex;
    padding-top: 25px;
}

.dashboard-error {
    color: red;
    padding-top: 25px;
    padding-left: 4px;
    padding-bottom: 0;
}
